<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2" />
    <add key="aspnetwebstacknightlyrelease" value="https://www.myget.org/f/aspnetwebstacknightlyrelease/" />
  </packageSources>
  <packages>
    <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
    <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net45" />
    <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net45" />
    <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net45" />
    <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net45" />
    <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net45" />
  </packages>
</configuration>